.card_body{
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    height: 260px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid grey;
    background: rgba(255,255,255,0.4);
}
.imgflag{
    padding-top: 15px;
    height: 140px;
    width: 140px;
    border: 1px gray;
    background-position: center center;
    background-size: cover;
}
