.card_container{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
   
    /* justify-content: center;
    align-items: center;
    gap: 20px; */
}
/* .card_container div {

    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid grey;
    background: rgba(255,255,255,0.4);
    /* width: 350px;
    height: auto;
    position: relative;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all .3s ease-in; */


.card > *{
    padding: 20px;
}

.containerselect{
    text-align: center;
}
select {
    text-align: center;
    width: 200px;
    padding:3px;
    margin: 10px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: black;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
